body {
		background-color: gray;
	}
	a {
		color: white;
	}
	.bigbox {
		margin: auto;
		height: 825px;
		width: 700px;
		background-color: blue;
		position: relative;
	}
	.box1 {
		background-color: teal;
		width: 200px;
		height: 825px;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.photobox {
		height: 175px;
		width: 200px;
		position: absolute;
		top: 0px;
		left: 0px;
		background-color: pink;
	}

	.info {
		height: 460px;
		width: 200px;
		position: absolute;
		top: 175px;
		left: 0px;
		background-color: teal;
		
		}
		.Name_and_Title {
			height: 100px;
			width: 200px;
			position: absolute;
			top: 0px;
			left: 0px;
			background-color: teal;
			color: white;
		}
			.MyName {
				width: 180px;
				font-size: 20px;
				font-family: monospace;
				background-color: teal;
				text-align: center;
				position: absolute;
				top: 5px;
				left: 10px;
			}
			.MyDescription {
				width: 180px;
				font-size: 14px;
				font-family:"Lucida Console", monospace;
				background-color: teal;
				text-align: center;
				position: absolute;
				top: 60px;
				left: 10px;
			}
		.PersonalInfo {
			height: 150px;
			width: 200px;
			position: absolute;
			top: 100px;
			left: 0px;
			color: white;
			font-family: "Lucida Console";
			font-size: 12px;
			font-style: normal;
			text-align: center;
			background-color: teal !important;
		}

			.SectionTitle {
				width: 180px;
				height: 20px;
				font-size: 14px;
				position: absolute;
				left: 10px;
				background-color: teal;
				font-weight: lighter;
			}
			.Birthday {
				width: 180px;
				height: 30px;
				position: absolute;
				top: 24px;
				left: 10px;
				background-color:teal;
				border-top: 1px solid white;
				line-height: 30px;
			}
				.mybday {
					width: 90px;
					height: 30px;
					position: absolute;
					top: 0px;
					left: 0px;				
					text-align: left;
					background-color: teal;

				}
				.bdayValue {
					width: 90px;
					height: 30px;
					position: absolute;
					top: 0px;
					right:  0px;
					text-align: right;
					background-color: teal;
				}
			.Nationality {
				width: 180px;
				height: 30px;
				position: absolute;
				top: 58px;
				left: 10px;
				border-top: 1px solid white;
				line-height: 30px;
			}
				.myNationality {
					width: 90px;
					height: 30px;
					position: absolute;
					top: 0px;
					left: 0px;
					text-align: left;
					background-color: teal;
				}
				.natValue {
					width: 90px;
					height: 30px;
					position: absolute;
					top: 0px;
					right: 0px;
					text-align: right;
					background-color: teal;
				}
			.CivilStatus {
				width: 180px;
				height: 30px;
				position: absolute;
				top: 92px;
				left: 10px;
				border-top: 1px solid white;
				border-bottom: 1px solid white; 
				line-height: 30px;
			}
				.myCS {
					width: 90px;
					height: 30px;
					position: absolute;
					top: 0px;
					left: 0px;
					text-align: left;
					background-color: teal;
				}
				.csValue {
					width: 90px;
					height: 30px;
					position: absolute;
					top: 0px;
					right: 0px;	
					text-align: right;
					background-color: teal;
				}

		.contactinfo {
			height: 210px;
			width: 200px;
			position: absolute;
			top: 250px;
			left: 0px;
			font-size: 12px;
			font-family: "Lucida Console";
			font-style: normal;
			color: white;
			background-color: teal;
		}
			.ContactInfoHeading {
				width: 190px;
				height: 20px;
				position: absolute;
				top: 0px;
				left: 5px;
				font-size: 14px;
				font-weight: lighter;
				background-color: teal;
			}
			.HomeNumber {
				width: 190px;
				height: 30px;
				position: absolute;
				top: 24px;
				left: 5px;
				background-color: teal;
				line-height: 30px;
				border-top: 1px white solid;
			}
				.myHomeNumber {
					width: 90px;
					height: 30px;
					position: absolute;
					top: 0px;
					left: 0px;
					text-align: left;
				}
				.mHNvalue{
					width: 100px;
					height: 30px;
					position: absolute;
					top: 0px;
					right: 0px;
					text-align: right;
					}
			.MobileNumber {
				width: 190px;
				height: 30px;
				position: absolute;
				top: 58px;
				left: 5px;
				line-height: 30px;
				background-color: teal;
				border-top: 1px white solid;
			}
				.myMobileNumber{
					width: 90px;
					height: 30px;
					position: absolute;
					top: 0px;
					left: 0px;
					text-align: left;
				}
				.myMNvalue{
					width: 100px;
					height: 30px;
					position: absolute;;
					top: 0px;
					right: 0px;
					text-align: right;
					font-size: 11px;
				}
			.Email {
				width: 190px;
				height: 30px;
				position: absolute;
				top: 92px;
				left: 5px;
				background-color: teal;
				border-top: 1px white solid;
			}
				.myEmail {
					width: 40px;
					height: 30px;
					position: absolute;
					top: 0px;
					left: 0px;
					text-align: left;
					line-height: 30px;
					
				}
				.emailVal{
					width: 150px;
					height: 30px;
					position: absolute;
					top: 0px;
					right: 0px;
					text-align: right;
					line-height: 15px;
					
				}
			.Skype {
				width: 190px;
				height: 30px;
				position: absolute;
				top: 126px;
				left: 5px;
				background-color: teal;
				line-height: 30px;
				border-top: 1px white solid;
			}
				.mySkype {
					width: 90px;
					height: 30px;
					position: absolute;
					top: 0px;
					left: 0px;
					text-align: left;
				}
				.skypeVal {
					width: 100px;
					height: 30px;
					position: absolute;
					top: 0px;
					right: 0px;
					text-align: right;
				}
			.Address {
				width: 190px;
				height: 30px;
				position: absolute;
				top: 160px;
				left: 5px;
				background-color: teal;
				border-top: 1px white solid;
				border-bottom: 1px white solid;
			}
				.myAddress {
					width: 90px;
					height: 30px;
					position: absolute;
					top: 0px;
					left: 0px;
					text-align: left;
					line-height: 30px;
				}
				.addressVal {
					width: 100px;
					height: 30px;
					position: absolute;
					top: 0px;
					right: 0px;
					text-align: right;
					line-height: 15px;
				}
	.links {
		height: 190px;
		width: 200px;
		position: absolute;
		bottom: 0px;
		left: 0px;
		font-family: "Lucida Console";
		font-size: 12px;
		font-style: normal;
		background-color: teal;
		color: white;
	}
		.SocMed {
			width: 180px;
			height: 30px;
			position: absolute;
			top: 0px;
			left: 10px;	
			line-height: 30px;
			font-size: 14px;
			font-weight: lighter;
			background-color: teal;
			border-bottom: 1px white solid;
		}
		.Facebook {
			width: 180px;
			height: 40px;
			position: absolute;
			top: 34px;
			left: 10px;
			line-height: 40px;
			background-color: teal;
		}
			.FbName{
				width: 50px;
				height: 40px;
				position: absolute;
				top: 0px;
				left: 0px;
				background-color: teal;
			}
			.fbicon {
				position: absolute;
				height: 25px;
				width: 25px;
				top: 7.5px;
				left: 12.5px;
			}
			.FbVal{
				width: 130px;
				height: 40px;
				position: absolute;
				top: 0px;
				right: 0px;
				text-align: right;
			}
		.Discord {
			width: 180px;
			height: 40px;
			position: absolute;
			top: 78px;
			left: 10px;
			line-height: 40px;
			background-color: teal;
		}
			.DiscName {
				width: 50px;
				height: 40px;
				position: absolute;
				top: 0px;
				left: 0px;
				text-align: left;
				background-color: teal;
			}
				.discord-icon{
					width: 25px;
					height: 25px;
					position: absolute;
					top: 7.5px;
					left: 12.5px;
				}
			.DiscVal {
				width: 130px;
				height: 40px;
				position: absolute;
				top: 0px;
				right: 0px;
				text-align: right;
				line-height: 20px;
			}
		.Instagram {
			width: 180px;
			height: 40px;
			position: absolute;
			top: 122px;
			left: 10px;
			line-height: 40px;
			background-color: teal;
		}
			.IgName {
				width: 50px;
				height: 40px;
				position: absolute;
				top: 0px;
				left: 0px;
				text-align: left;
				background-color: teal;
			}
				.igicon{
				position: absolute;
				height: 25px;
				width: 25px;
				top: 7.5px;
				left: 12.5px;
			}
			.IgVal {
				width: 130px
				height: 40px;
				position: absolute;
				top: 0px;
				right: 0px;
				text-align: right;
			}
	.box2 {
		background-color: white;
		width: 500px;
		height: 825px;
		position: absolute;
		top: 0px;
		left: 200px;
	}
	.MyProfile {
				width: 500px;
				height: 247.5px;
				
				background-color: white;
			}
				.MP_Title {
					width: 500px;
					height: 37.13px;
					background-color: white;
				}
					.MP_Title_Box {
						width: 480px;
						height: 37.125px;
						position: absolute;
						left: 10px;
						border-bottom: 4px black solid;
						background-color: white;
					}
					.MP_Title_Text {
						font-family: "Lucida Console", monospace;
						font-size: 16px;
						color: teal;
						font-weight: ;
						text-transform: uppercase;
						position: absolute;
						bottom: 4px;
						left: 0px;
					}
				.MP_Paragraph {
					width: 500px;
					height: 86.63px;
					background-color: white;
					color: gray;
					font-family: monospace;
					font-size: 14px;
					text-align: justify;
					line-height: 21.5px;
				}
				.MP_Progress_chart {
					position: relative;
					width: 500px;
					height: 123.75px;
					background-color: blue;
				}
					.MP_Box1 {
						position: absolute;
						top: 0px;
						left:0px;
						width: 166.666px;
						height: 123.75px;
						background-color: white;
					}
						.MP_Chart1 {
							position: absolute;
							top: 5.875px;
							left: 25.333px;
							width: 100px;
							height: 100px;
							text-align: center;
							line-height: 100px;
							border:	6px teal solid;
							border-radius: 100px;
							font-family: sans-serif;
							font-size: 14px;
							background-color: white;
						}
					.MP_Box2 {
						position: absolute;
						top: 0px;
						left: 166.666px;
						width: 166.666px;
						height: 123.75px;
						background-color: white;
					}
					.MP_Chart2 {
							position: absolute;
							top: 5.875px;
							left: 25.333px;
							width: 100px;
							height: 100px;
							text-align: center;
							line-height: 100px;
							border:	6px teal solid;
							border-radius: 100px;
							font-family: sans-serif;
							font-size: 14px;
							background-color: white;
						}
					.MP_Box3 {
						position: absolute;
						top: 0px;
						right: 0px;
						width: 166.666px;
						height: 123.75px;
						background-color: white;
					}
					.MP_Chart3 {
							position: absolute;
							top: 5.875px;
							left: 25.333px;
							width: 100px;
							height: 100px;
							text-align: center;
							line-height: 100px;
							border:	6px teal solid;
							border-radius: 100px;
							font-family: sans-serif;
							font-size: 14px;
							background-color: white;
						}
			.ProXP {
				width: 500px;
				height: 288.75px;
				background-color: yellow;
				}
				.PXP_Title_Box {
					width: 500px;
					height: 28.88px;
					background-color: white;
				}
					.PXP_Title_Text {
						position: absolute;
						left: 10px;
						width: 480px;
						height: 28.88px;
						border-bottom: 3px black solid;
						color: teal;
						font-family: "Lucida Console";
						font-size: 16px;
						z-index: 1;
					}
						.PXP_Title_Text_Position {
							position: absolute;
							left: 0px;
							bottom: 0px;
						}
				.PXP_Timeline_Box {
					position: relative;
					width: 500px;
					height: 259.88px;
					background-color: white;
				}
					.PXP_Margin_Top {
						position: absolute;
						left: 0px;
						bottom: 0px;
						width: 500px;
						height: 239.99px;
						background-color: white;
					}
						.PXP_Timeline_Text {
							position: absolute;
							left: 0px;
							width: 150px;
							height: 239.88px;
							background-color: orange;
						}
							.TL_1 {
								position: relative;
								width: 150px;
								height: 79.95px;
								background-color: white;
							}
								.TL_1_Text {
									position: absolute;
									left: 10px;
									top: 0px;
									width: 130px;
									height: 30px;
									color: white;
									text-align: center;
									line-height: 30px;
									font-family: monospace;
									background-color: teal;
								}
							.TL_2 {
								position: relative;
								width: 150px;
								height: 79.95px;
								background-color: white;
							}
								.TL_2_Text {
									position: absolute;
									left: 10px;
									top: 0px;
									width: 130px;
									height: 30px;
									color: white;
									text-align: center;
									line-height: 30px;
									font-family: monospace;
									background-color: teal;
								}
							.TL_3 {
								position: relative;
								width: 150px;
								height: 79.95px;
								background-color: white;
							}
								.TL_3_Text {
									position: absolute;
									left: 10px;
									top: 0px;
									width: 130px;
									height: 30px;
									color: white;
									text-align: center;
									line-height: 30px;
									font-family: monospace;
									background-color: teal;
								}
						.PXP_Timeline_Details {
						position: absolute;
						right: 0px;
						width: 350px;
						height: 239.99px;
						background-color: indigo;
						}
							.PXP_TL_1 {
								position: relative;
								width: 350px;
								height: 79.95px;
								background-color: red;
							}
								.OfficeHeld_1 {
									width: 350px;
									height: 19.98px;
									font-family: "Courier New";
									font-style: oblique;
									font-size: 14px;
									font-weight: bold;
									color: teal;
									background-color: white;
								}
								.FirmName_1 {
									width: 350px;
									height: 19.98px;
									font-family: "Lucida Console";
									font-size: 14px;
									color: black;
									background-color: white;
								}
								.PXP_Text_1 {
									width: 350px;
									height: 39.97px;
									font-family: monospace;
									font-size: 11px;
									text-align: left;
									color: gray;
									background-color: white;
								}
							.PXP_TL_2 {
								position: relative;
								width: 350px;
								height: 79.95px;
								background-color: green;
							}
								.OfficeHeld_2 {
									width: 350px;
									height: 19.98px;
									font-family: "Courier New";
									font-style: oblique;
									font-size: 14px;
									font-weight: bold;
									color: teal;
									background-color: white;
								}
								.FirmName_2 {
									width: 350px;
									height: 19.98px;
									font-family: "Lucida Console";
									font-size: 14px;
									color: black;
									background-color: white;
								}
								.PXP_Text_2 {
									width: 350px;
									height: 39.97px;
									font-family: monospace;
									font-size: 11px;
									text-align: left;
									color: gray;
									background-color: white;
								}
							.PXP_TL_3 {
								position: relative;
								width: 350px;
								height: 79.95px;
								background-color: blue;
							}

								.OfficeHeld_3 {
									width: 350px;
									height: 19.98px;
									font-family: "Courier New";
									font-style: oblique;
									font-size: 14px;
									font-weight: bold;
									color: teal;
									background-color: white;
								}
								.FirmName_3 {
									width: 350px;
									height: 19.98px;
									font-family: "Lucida Console";
									font-size: 14px;
									color: black;
									background-color: white;
								}
								.PXP_Text_3 {
									width: 350px;
									height: 39.97px;
									font-family: monospace;
									font-size: 11.5px;
									text-align: left;
									color: gray;
									background-color: white;
								}
			.AcademicBG {
				width: 500px;
				height: 144.38px;
				background-color: red;	
			}
				.ABG_Title_Box {
					width: 500px;
					height: 28.88px;
					background-color: white;
				}
					.ABG_Title_Text {
						position: absolute;
						left: 10px;
						width: 480px;
						height: 28.88px;
						border-bottom: 3px black solid;
						color: teal;
						font-family: "Lucida Console";
						font-size: 16px;
						z-index: 1;
					}
						.ABG_Title_Text_Position {
							position: absolute;
							l
							eft: 0px;
							bottom: 0px;	
						}
				.ABG_Timeline_Box{
					width: 500px;
					height: 115.5px;
					background-color: white;
					position: relative;
				}
					.ABG_Margin_Top {
						width: 500px;
						height: 95px;
						position: absolute;
						left: 0px;
						bottom: 0px;
						background-color: white;
					}
						.ABG_Timeline_Text {
							position: absolute;
							left: 0px;
							width: 150px;
							height: 95px;
							background-color: white;
						}
							.ABG_TL1{
								position: relative;
								width: 150px;
								height: 47.5px;
								background-color: white;
							}
								.ABG_TL1_Text{
									position: absolute;
									left: 10px;
									top: 0px;
									width: 130px;
									height: 30px;
									color: white;
									text-align: center;
									line-height: 30px;
									font-family: monospace;
									background-color: teal;
								}
							.ABG_TL2 {
								position: relative;
								width: 150px;
								height: 47.5px;
								background-color: white;
							}
								.ABG_TL2_Text {
									position: absolute;
									left: 10px;
									top: 0px;
									width: 130px;
									height: 30px;
									color: white;
									text-align: center;
									line-height: 30px;
									font-family: monospace;
									background-color: teal;
								}
						.ABG_Timeline_Details {
							position: absolute;
							right: 0px;
							width: 350px;
							height: 95px;
							background-color: white;
						}
							.ABG_Master {
								position: relative;
								width: 350px;
								height: 47.5px;
								background-color: white;
							}
								.ABG_Master_Title{
									width: 350px;
									height: 23.75px;
									font-family: "Courier New";
									font-size: 14px;
									font-style: oblique; 
									font-weight: bold;
									color: teal;
									background-color: white;
								}
								.ABG_Master_Text{
									width: 350px;
									height: 23.75px;
									font-family: "Lucida Console";
									font-size: 14px;
									color: black;
									background-color: white;
								}
							.ABG_License {
								position: relative;
								width: 350px;
								height: 47.5px;
								background-color: white;
							}
								.ABG_License_Title{
									width: 350px;
									height: 23.75px;
									font-family: "Courier New";
									font-size: 14px;
									font-style: oblique; 
									font-weight: bold;
									color: teal;
									background-color: white;
								}
								.ABG_License_Text{
									width: 350px;
									height: 23.75px;
									font-family: "Lucida Console";
									font-size: 14px;
									color: black;
									background-color: white;
								}
			.LowestBox {
				position: 	relative;	
				width: 500px;
				height: 144.38px;
				background-color: green;
			}
				.Software {
					position: absolute	;
					top: 0px;
					left: 0px;
					width: 250px;
					height: 139.38px;
					background-color: red;
				}
					.Title {
					width: 	250px;
					height: 31.09px;
					background-color:  white;
					}
						.TitleBox {
							position: absolute;
							left: 10px;
							width: 230px;
							height: 31.09px;
							background-color: white;
						}
							.Title_Position {
								position: absolute;
								bottom: 0px;
								width: 230px;
								font-family: "Lucida Console", monospace;
								text-align: left;
								border-bottom: 3px black solid;
								color: teal;
							}
					.ContentBox{
					position: relative;
					width: 	250px;
					height: 108.29px;
					background-color: 	white; 
					}
						.CB_Box1 {
							position: absolute;
							left: 10px;
							width: 230px;
							height: 36.0966px;
							background-color: white;
						}
							.CB_Text1 {
							font-family: sans-serif;
							font-size: 12px;
							text-align: left;
							position: absolute;
							bottom: 18px;	
							}
							.CB_Bar1_1 {
								position: absolute;
								bottom: 0px;
								left: 0px;
								width: 207px;
								height: 15px;
								background-color: black;
								opacity: 0.75;
							}
							.CB_Bar1_2 {
								position: absolute;
								bottom: 0px;
								right: 0px;
								width: 23px;
								height: 15px;
								background-color: black;
								opacity: 0.25;
							}
						.CB_Box2 {
							position: absolute;
							top: 36.0966px;
							left: 10px;
							width: 230px;
							height: 36.0966px;
							background-color: white;
						}
							.CB_Text2{
							font-family: sans-serif;
							font-size: 12px;
							text-align: left;
							position: absolute;
							bottom: 18px;
							}
							.CB_Bar2_1{
								position: absolute;
								bottom: 0px;
								width: 230px;
								height: 15px;
								background-color: black;
								opacity: 0.75;
							}	
						.CB_Box3 {
							position: absolute;
							bottom: 0px;
							left: 10px;
							width: 230px;
							height: 36.0966px;
							background-color: white;
						}
							.CB_Text3{
							font-family: sans-serif;
							font-size: 12px;
							text-align: left;
							position: absolute;
							bottom: 18px;
							}
							.CB_Bar3_1 {
								position: absolute;
								bottom: 0px;
								left: 0px;
								width: 115px;
								height: 15px;
								background-color: black;
								opacity: 0.75;
							}
							.CB_Bar3_2 {
								position: absolute;
								bottom: 0px;
								right: 0px;
								width: 115px;
								height: 15px;
								background-color: black;
								opacity: 0.25;
							}

				.Languages {
					position: absolute;
					top: 0px;
					left: 250px;
					width: 250px;
					height: 139.38px;
					background-color: blue;
				}
					.Lang_Title {
					width: 	250px;
					height: 31.09px;
					background-color:  white;
					}
						.Lang_TitleBox {
							position: absolute;
							left: 10px;
							width: 230px;
							height: 31.09px;
							background-color: white;
						}
							.Lang_Title_Position {
								position: absolute;
								bottom: 0px;
								width: 230px;
								font-family: "Lucida Console", monospace;
								text-align: left;
								border-bottom: 3px black solid;
								color: teal;
							}
					.Graph_Container {
						position: absolute;
						right: 0px;
						width: 250px;
						height: 91.91px;
						background-color: white;
					}
					.GBox_Container{
						position: absolute;
						right: 10px;
						width: 230px;
						height: 91.91px;
						background-color: white;	
					}
						.GBox1 {
							position: absolute;
							right: 0px;
							bottom: 10px;
							width: 50px;
							height: 75px;
							background-color: teal;
						}
						.GBox2 {
							position: absolute;
							right: 35px;
							bottom: 10px;
							width: 50px;
							height: 50px;
							background-color: black;
							opacity: 0.85;
						}
						.GBox3 {
							position: absolute;
							right: 65px;
							bottom: 10px;
							width: 50px;
							height: 25px;
							background-color: gray	;
							opacity: 0.50;
						}

						.tagalog {
							position: absolute;
							bottom: 10px;
							left: 10px;
							height: 74px;
							width: 180px;
							border-top: 1px black solid;
							font-family: monospace;

						}
						.bisaya{
							position: absolute;
							bottom: 10px;
							left: 10px;
							height: 49px;
							width: 145px;
							border-top: 1px black solid;
							font-family: monospace;
						}
						.chavacano {
							position: absolute;
							bottom: 10px;
							left: 10px;
							height: 24px;
							width: 115px;
							border-top: 1px black solid;
							font-family: monospace;
						}
					.Legend_Container {
						position: absolute;
						bottom: 0px;
						right: 0px;
						width: 250px;
						height: 16.38px;
						font-size: 11px;
						background-color: white;
					}
						.Lang1 {
							position: absolute;
							left: 0px;
							width: 83.333px;
							height: 16.38px;
							background-color: white;
						}
							.LangBox1 {
							position: absolute;
							left: 0px;
							width: 16px;
							height: 16px;
							background-color: teal;
							}
							.LangText1 {
								position: absolute;
								right: 5px;
								width: 50px;
								height: 16px;
								font-family: monospace;
								background-color: white;
							}
							.Lang2 {
							position: absolute;
							left: 83.333px;
							width: 83.333px;
							height: 16.38px;
							background-color: white;
						}
							.LangBox2 {
							position: absolute;
							left: 0px;
							width: 16px;
							height: 16px;
							background-color: black;
							opacity: 0.85;
							}
							.LangText2 {
								position: absolute;
								right: 5px;
								width: 50px;
								height: 16px;
								font-family: monospace;
								background-color: white;
							}
							.Lang3 {
							position: absolute;
							right:	0px;
							width: 83.333px;
							height: 16.38px;
							background-color: white;
						}
							.LangBox3 {
							position: absolute;
							left: 0px;
							width: 16px;
							height: 16px;
							background-color: black;
							opacity: 0.25;
							}
							.LangText3 {
								position: absolute;
								right: 5px;
								width: 50px;
								height: 16px;
								font-family: monospace;
								background-color: white;
							}
				.Margin_Bottom {
					position: absolute;
					bottom: 0px;
					left: 0px;
					width: 	500px;
					height: 5px;
					background-color: white;
				}